body{
    background-image: url(../Photos/food-background.jpg);
}
img{
    height: 15rem;
}
.custom-card-color {
  background-color: #FDD3AC;
}
#carouselExampleAutoplaying img {
  height: 600px;     
  object-fit: cover; 
}