body{
    background-image: url(../Photos/food-background.jpg);
}
img{
    height: 15rem;
}
.custom-card-color {
  background-color: #FDD3AC;
}
#carouselExampleAutoplaying img {
 width: 100%;
  height: 600px; 
  object-fit: fill;
}
.transparentbox{
    background-color: rgba(143, 143, 143, 0.733);
    color: white;
    margin-bottom: 10rem;
    padding: 30px 90px;
    border-radius:10px;
    text-align: center;
    position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainpagetext{
  font-size: 25px;
}
.menucards{
  justify-content: space-between
}
.cards-row {
  margin-left: 20px;
  margin-right: 20px;
}
.navbar-nav .nav-link {
    font-size: 1.2rem; /* adjust the size as you like */
}